<div class="container" style="padding:2rem">
  <div class="row">
    <div class="col">
    </div>
    <div class="card col-8" style="width:100%">
      <h2 style="padding:2rem">Registrácia</h2>
      <form style="padding:2rem; ">
        <div class="form-group">
          <label for="name">Rola</label>
          <input type="text" class="form-control" id="role" placeholder="Rola zamestnanca">
        </div>
        <div class="form-group">
          <label for="name">Meno a priezvisko</label>
          <input type="text" class="form-control" id="name" placeholder="Meno a priezvisko">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Heslo</label>
          <input type="password" class="form-control" id="Password1" placeholder="Heslo">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Heslo znova</label>
          <input type="password" class="form-control" id="Password2" placeholder="Heslo znova">
        </div>

        <button type="submit" class="btn btn-primary" style="float:right; margin:1rem">Potvrdiť registráciu</button>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
