<div class="container" style="padding:2rem">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="card col-sm-6" style="background:white ;margin-top:10rem; padding:3rem ;border-radius:1.5rem;">
      <div style="font-weight:bold;font-size:32px;text-align:center;">Registrácia</div>

      <form [formGroup]="registerForm" style="padding:1rem;">
        <div class="form-group">
          <label>Rola</label>
          <input type="text" class="form-control" id="role" placeholder="Rola zamestnanca" formControlName="role">
        </div>
        <div class="form-group">
          <label>Meno a priezvisko</label>
          <input type="text" class="form-control" id="name" placeholder="Meno a priezvisko" formControlName="name">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <label>Heslo</label>
          <input type="password" class="form-control" id="Password1" placeholder="Heslo" formControlName="password">
        </div>
        <div class="form-group">
          <label>Heslo znova</label>
          <input type="password" class="form-control" id="Password2" placeholder="Heslo znova" formControlName="password2">
        </div>

        <button type="submit" class="btn btn-primary" (click)="onRegister()" style="float:right; margin:1rem">Potvrdiť registráciu</button>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
