<elektro-menu></elektro-menu>

<h1>User: {{name}}</h1>
<div class="container">
  <div class="card">
    <table>
      <tr>
        <td>
          <div class="title">
            Meno: 
          </div>
        </td>
        <td>
          <div class="value">
            {{name}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="title">
            Predajňa:
          </div>
        </td>
        <td>
          <div class="value">
            {{shop}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="title">
            Rola:
          </div>
        </td>
        <td>
          <div class="value">
            {{role}}
          </div>
        </td>
      </tr>
    </table>
    
  </div>
</div>

