h1 {
  padding: 2rem;
  font-weight: bold;
  font-size: 32px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.title {
  padding: 2rem;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
  margin-left: 5rem;
}

.value {
  padding: 2rem;
  font-size: 20px;
  margin-top: 1rem;
  margin-left: 2rem;
}
