<elektro-menu></elektro-menu>

<div class="container">
  <h2 style="padding:3rem 0">Moja predajňa</h2>

  <form novalidate>
    <div class="form-group">
      <strong>Filtruj podľa Názvu</strong>
      <input class="form-control" [(ngModel)]="filter" name="filter"/>     
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Kód Produktu</th>
        <th scope="col">Názov</th>
        <th scope="col">Popis</th>
        <th scope="col">Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | tableFilter: 'name' : filter; let i = index">
        <th scope="row">{{ product.EAN }}</th>
        <th scope="row">{{ product.name }}</th>
        <th scope="row">{{ product.desc }}</th>
        <th scope="row">{{ product.price }}</th>
        <th scope="row">
          <button routerLink="/products/edit" class="btn btn-secondary"  style="cursor:pointer;"><span class="glyphicon">&#x270f;</span></button>

          <!-- <button (click)="onEdit()" style="cursor:pointer;"><span class="glyphicon">&#x270f;</span></button>-->
        </th>
      </tr>
    </tbody>
  </table>
</div>


