<elektro-menu></elektro-menu>

<div class="container">
  <h2 style="padding:3rem 0">Zoznam všetkých predajní</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Predajňa</th>
        <th scope="col">Mesto</th>
        <th scope="col">Adresa</th>
        <th scope="col">Kontakt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of stores | tableFilter: 'name' : filter; let i = index">
        <th scope="row">{{ store.name }}</th>
        <th scope="row">{{ store.city }}</th>
        <th scope="row">{{ store.adress }}</th>
        <th scope="row">{{ store.contact }}</th>
      </tr>
    </tbody>
  </table>
</div>


