<elektro-menu></elektro-menu>
<h1>Predajne Elektra</h1>
<table class="table table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Kód produktu</th>
      <th scope="col">Meno produktu</th>
      <th scope="col">Popis</th>
      <th scope="col">Cena</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Produkt1</td>
      <td>Popis produktu</td>
      <td>Cena</td>
      <td>Detail produktu</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
