<elektro-menu></elektro-menu>

<div class="container">
  <h2>Upraviť produkt</h2>
  <div class="form-group">
    <label>Meno produktu</label>
    <input type="text" class="form-control" value="{{product.name}}" placeholder="Meno produktu" formControlName="name">
  </div>
  <div class="form-group">
    <label>Popis produktu</label>
    <textarea rows="4" cols="50" class="form-control" value="{{product.desc}}" placeholder="Popis produktu" formControlName="desc"></textarea>
  </div>
  <div class="form-group">
    <label>Cena</label>
    <input type="number" class="form-control" value="{{product.price}}" placeholder="Cena produktu" formControlName="price">
  </div>
  <div class="form-group">
    <label>Dostupné na predajni: {{store.name}}, {{store.city}}, {{store.address}}</label>
        <input type="number" class="form-control" placeholder="Dostupnosť pre predajňu" formControlName="stores">
  </div>
  <div class="container" style="margin:3rem">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Upraviť produkt</button>
    <button class="btn btn-secondary" routerLink="/mystore">Spät na produkty</button>
  </div>
</div>
